* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: aliceblue;
    padding: 40px;
}

.container {
    width: 1100px;
    max-width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.summary {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {

    flex: 1;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.08);


}

.card h3 {
    margin: 10px 0;
}

.balance {

    background-color: blue;
    color: white;

}

.expense {

    color: #e74c3c;
}

.income {

    color: green;

}

.card i {
    font-size: 35px;
}

.form {

    background-color: white;
    margin: 25px 0;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.08);

}

.form input,
.form select {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid grey;

}

.form h2 {
    margin-bottom: 20px;
}

.form input:focus,
.form select:focus {
    border-color: blue;
}

#addBtn {
    background-color: blue;
    width: 100%;
    padding: 12px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;

}

button:hover {
    opacity: 0.7;
}

.search-box {

    display: flex;
    gap: 25px;
    margin-bottom: 25px;

}

.search-box input {
    flex: 1;
}

.search-box input,
.search-box select {
    padding: 13px;
    border: 1px solid grey;
    border-radius: 8px;

}


.table-container {
    background-color: white;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.08);
    border-radius: 10px;
    overflow: hidden;
}


table {
    width: 100%;
    border-collapse: collapse;

}

table th {
    background: blue;
    color: white;
}

table th,
td {
    padding: 15px;
    text-align: left;
}

table td {
    border-bottom: 1px solid black;
}

.edit {

    background-color: blue;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;

}

.delete {

    background-color: red;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;

}




/* media query section  */

@media(max-width: 768px) {

    body {
        padding: 20px;
    }

    .summary {
        flex-direction: column;
        gap: 12px;
    }

    h1 {
        font-size: 30px;
    }

    .form select {
        width: 100%;
        box-sizing: border-box;

    }

    .search-box {
        flex-direction: column;
        gap: 5px;
    }

    table {

        font-size: 14px;

    }

    table th,
    td {
        padding: 10px;
        line-break: break;

    }



}